     	.img1{
     		width: 100px;
		    height: 100px;
     	}

     	.table2{
		position: absolute;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform:translate(-50%, -50%)  ;
		
	}

	.font2{
		font-size: 30pt;
		color: white;
		color: cyan;
		font-family: Arial Black;
		text-shadow: 2px 2px 2px black;
	}

		.font{
		font-size: 20px;
		color: white;
		color: cyan;
		font-family: Arial;
		text-shadow: 2px 2px 2px black;
		text-decoration: none;
	}

	.font:hover{

		font-family: Arial black;
		color: aquamarine;
	}

	hr{
		border-radius: 8px;
		height: 4px;
		background-color: cyan;
		box-shadow: 2px 2px;
	}

